 *{
    font-family: sans-serif;
}
.logo{
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.create{
    color: #1c1e21;
    font-size: 25px;
    font-weight: bold; 
    margin: auto;
    padding: 5px 0 0 0;
    text-align: center;
}
.its{
    color: #606770;
    text-align: center;
    margin-top: 5px;
}
.form-container{
    padding: 16px;
    margin-top: 20px;
    border: 1px solid #e2dbdb;
}
#firstname,#lastname,#mobemail,#password{
    font-size: 15px;
    line-height: 15px;
    padding: 11px;
    border-radius: 4px;
    border: 1px solid #c9cacc;
    background-color: #ffffff;
    width: 170px;
}

.dob,.gendr{
    color: #606770;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 0px;
       
}
.gend{
    box-sizing: border-box;
    border-radius: 4px;
    color: #1c1e21;
    display: inline-block;
    padding: 0px 10px 0px 10px;
    font-size: 15px;
    font-weight: normal;
    line-height: 36px;
    border: 1px solid #c9cacc;
}
input[type="radio"]{
    margin-left: 35px;
    margin-right: 0px;
}
.but{
    background: none;
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 36px;
    margin: auto;
    display: block;    
    line-height: 126%;
    text-shadow: none;
    padding: 0px 60px;
}
.button a{
    padding: 10px 0px;
    margin-left: 110px;
    color: #1877f2;
    font-size:17px ;
}
.footer{
    color: #777777;
    font-size: 11px;
    margin: 11px 0px;
}
.footer .f_container{    
    margin: 1em;
    display: block;
    margin-block-start: 1em ;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.footer .f_container a{
    text-decoration: none;
}
#number,#month,#year{  
   padding: 0px 28px 0px 28px ;
   border: none; 
}

.DOB{
    display: flex;
}
.date{
    border: 1px solid #c9cacc;
    border-radius: 4px;
    padding: 0px 10px 0px 10px;
    font-size: 15px;
    font-weight: normal;
    line-height: 36px;
}
.mon,.yrr{
    border: 1px solid #c9cacc;
    margin-left: 25px;
    border-radius: 4px;
    padding: 0px 5px 0px 5px;
    font-size: 15px;
    font-weight: normal;
    line-height: 36px;
} 
.one{
    height: 400px;
    width: 400px;
    border: 2px solid blue;
}